/* Overrides */

.notion-app {
  margin-top: 80px;
}

.notion-header {
  position: static !important;
  background-color: #F9F9F9 !important;
}

@media screen and (max-width: 767px) {
  #ch-plugin-launcher {
    margin-right: calc(6vw - 5px);
    margin-bottom: 64px;
  }
}

/* Custom Elements */

.pn-top {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 10000000;
}

.pn-top a {
  font-family: 'Pretendard';
  text-decoration: none;
  color: #302936;
}

.pn-top .wrapper {
  max-width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.pn-top .main-logo {
  height: 100%;
}

.pn-top .main-logo a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 18px;
  font-weight: 700;
}

.pn-top .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pn-top .menu li {
  margin-left: 54px;
}

.pn-top .menu a {
  display: flex;
  width: 107px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.pn-top .hamburger {
  display: none;
}
@media screen and (max-width: 767px) {
  .pn-top .menu {
    display: none;
  }
  .pn-top .hamburger {
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

.pn-top .mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #2F2935;
  color: white;
}

.pn-top .mobile-menu .close {
  float: right;
  margin-top: 16px;
  padding: 12px;
}

.pn-top .mobile-menu h3 {
  margin: 16px 36px 0 36px;
  height: 63px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.pn-top .mobile-menu h3 svg {
  flex-shrink: 0;
}

.pn-top .mobile-menu ul {
  list-style-type: none;
  margin: 14px 0 0 0;
}

.pn-top .mobile-menu a {
  color: white;
  font-size: 18px;
  line-height: 36px;
}
